header {
    height: 200px;
    background-color: #d6ccc2;
    margin: 0 auto;
}

main {
    margin: 5%;
}

h1 {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 65px;
}

.card-custom {
    box-shadow: 2px 2px 15px 1px #d6ccc2;
}

.cardheader-custom {
    background-color: #B6A391;
}

.beige {
    background-color: #edede9;
}

.lightbrown-text {
    color: #d6ccc2;
}

.row-custom {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
